@model BlogTest.Service.Contact
@{
    ViewData["Title"] = "Contact";
}
<div class="container">
    <div class="row">
        <div class="col-2"></div>
        <div class="col ">
            <div class="contact-mf">
                <div id="contact" class="box-shadow-full">
                    <div class="row">
                        <div class="col">
                            <div class="row text-center">
                                <div class="col"></div>
                                <div class="col-4 text-center">
                                    <h2 class="text-center" style="border-bottom:4px solid rgb(28, 213, 219);padding-bottom: 20px;">
                                        Contact Us
                                    </h2>
                                </div>
                                <div class="col"></div>
                            </div>
                            <br />
                            <div>
                                <div class="post-meta">
                                    <p style="font-size:smaller">
                                        <blockquote class="blockquote text-center" style="border-bottom: 4px solid rgb(28, 213, 219); padding: 18px; font-style: italic;">
                                            You Successfully Send Your Message.<br />Take A Snack And I Will Contact You Back!
                                            <br />
                                            <br />
                                            <button class="button button-a" type="button" ><a asp-controller="Home" asp-action="Index">Home Page</a></button>
                                        </blockquote>
                                    </p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-2"></div>
    </div>
</div>


