@model BlogTest.Models.PostComment

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>PostComment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Content" class="control-label"></label>
                <input asp-for="Content" class="form-control" />
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CommentDate" class="control-label"></label>
                <input asp-for="CommentDate" class="form-control" />
                <span asp-validation-for="CommentDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Update" class="control-label"></label>
                <input asp-for="Update" class="form-control" />
                <span asp-validation-for="Update" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Moderated" class="control-label"></label>
                <input asp-for="Moderated" class="form-control" />
                <span asp-validation-for="Moderated" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModeratedReason" class="control-label"></label>
                <input asp-for="ModeratedReason" class="form-control" />
                <span asp-validation-for="ModeratedReason" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModeratedContent" class="control-label"></label>
                <input asp-for="ModeratedContent" class="form-control" />
                <span asp-validation-for="ModeratedContent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PostCategoryId" class="control-label"></label>
                <select asp-for="PostCategoryId" class="form-control" asp-items="ViewBag.PostCategoryId"></select>
            </div>
            <div class="form-group">
                <label asp-for="BlogUserId" class="control-label"></label>
                <input asp-for="BlogUserId" class="form-control" />
                <span asp-validation-for="BlogUserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-secondary" />
            </div>
            <div>
                <a class="btn btn-secondary" asp-action="Index">Back to List</a>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
