@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}
<header class="masthead" style="background-color:#1cd5db;">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto" style="font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;">
                <div class="site-heading" style="padding: 28px 0;">

                </div>
            </div>
        </div>
    </div>
</header>

<div class="row">

    <div class="col text-center">
        <h1>@ViewData["Title"]</h1>
        <p> Your Email is confirmed successfully</p>
        <a class="btn btn-primary" asp-controller="Home" asp-action="Index">Home Page</a>
        <a class="btn btn-info" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </div>
</div>