@page
@model LoginModel
@{
    ViewData["Title"] = "Unable to find your Account";
}


<br />
<br />
<div class="container">
    <div class="row">
        <div class="col text-center">
            <h1>@ViewData["Title"]</h1>
            <p>
                You entered the Email doesn't exit in our website, Did you enter the wrong Email or you want to create a new one?
            </p>
            <button class="button button-a" type="button">
                <a id="forgot-password" asp-page="./ForgotPassword">I Entered The Wrong Email</a>
            </button>
            <button class="button button-a" type="button">
                <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
            </button>
            <br />
            <h4>Or</h4>
            <button class="button button-a">
                <a asp-controller="Home" asp-action="Index">Go Back To Home</a>
            </button>
        </div>
    </div>
</div>

